[Desktop Entry] 
Name = VIWISTAR
Comment= android studio 
Exec=/home/dian/viwistar_gui/viwistar.sh
Icon=/home/dian/viwistar_gui/src/test_gui/resources/images/viwistar_logo.png
Terminal=false 
Type=Application

